@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* 전역 스타일 */
:root {
  /* 기본 변수 설정 */
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-light: #ffffff;
  --background-dark: #242424;
  --text-light: #213547;
  --text-dark: rgba(255, 255, 255, 0.87);
}

/* 기본 폰트 및 텍스트 설정 */
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* 기본 링크 스타일 */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

/* 다크모드 설정 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-light);
    color: var(--text-light);
  }
}
